body {
  margin: 0;
  font-family: 'Inter var', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(26, 31, 41);
}

input {
  display: block;
  outline: none;
  border: none;
  font-family: 'Inter var', sans-serif;
}

textarea {
  display: block;
  outline: none;
  border: none;
  font-family: 'Inter var', sans-serif;
}

button {
  margin: 0;
  padding: 0;
  width: auto;
  background: transparent;
  overflow: ellipsis;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
}

a {
  text-decoration:none;
}

ul {
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
}